@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table-panel {
  display: block;
  width: 30%;
  height: 800px;
  /* border: 1px solid black; */
  margin: auto; 
  /* background-color: blue; */
}
table {
  width: 100%;
}
th, td {
  padding: 7px 10px 10px 10px;
}
td {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}  
td:last-child {
  width: 100px;
}
th {
  border-bottom: 1px solid black;
  text-align: center;

}
tr {
  text-align: center;
  background-color: #efefef;
}


td {
  text-align: left;
}


